h1{
    text-align: center;
    background-color:black;
    color:white;
}

h2{
    text-align: center;
    background-color:chartreuse;
    color:forestgreen;
}

h3{
    color:blue
}

p{
    color:blueviolet;
}

body{
    background-image: url("../images/haikei.jpg");
    background-attachment: fixed;
}